<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center example">
    <%= image_tag '/gahag-0118497631-1.jpg' , class: 'topimg' %>
    <h3>HappyWedding</h3>
    <p><%= link_to "会員登録", signup_path, class: "btn btn-lg btn-default" %></p>
  </div>
<% end %>
