<% provide(:title, "Log in") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <hr class="colorgraph"><br>
      <%= f.email_field :email, class: 'form-control', placeholder: "メールアドレス" %>

      <%= f.password_field :password, class: 'form-control', placeholder: "パスワード" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>このパソコンに覚えさせる</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "アカウント登録", signup_path %></p>
  </div>
</div>
