<div class="col-sm-4">
  <div class="productBox">
    <% if user.sex == "男性" %>
      <%= image_tag '/men.png' , class: 'seximg', size:35 %>
    <% else %>
      <%= image_tag '/women.png' , class: 'seximg', size:35 %>
    <% end %>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</div>
