<% provide(:title, "Edit user") %>
<h1>会員情報を変更する</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <hr class="colorgraph"><br>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :name, class: 'form-control', placeholder: "ニックネーム" %>

      <%= f.email_field :email, class: 'form-control', placeholder: "メールアドレス" %>

      <%= f.label :sex, '性別', class:'control-label' %>
      <%= f.select :sex, [["",""],["男性","男性"],["女性","女性"] ], {},   class: 'form-control' %>

      <%= f.password_field :password, class: 'form-control', placeholder: "パスワード" %>

      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "パスワード(もう1度ご入力ください)" %>

      <%= f.submit "変更を登録する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
