<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
        <% if @user.sex == "男性" %>
          <%= image_tag '/men.png' , class: 'seximg' %>
        <% else %>
          <%= image_tag '/women.png' , class: 'seximg' %>
        <% end %>
      </h3>
      <h3><%= @user.name %></h3>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>ツイート (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
