<% if current_user.sex == "男性" %>
  <%= image_tag '/men.png' , class: 'seximg', size:50 %>
<% else %>
  <%= image_tag '/women.png' , class: 'seximg', size:50 %>
<% end %>
<h1><%= current_user.name %></h1>
<span><%= link_to "自分のツイートを見る", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
