<li id="micropost-<%= micropost.id %>">
  <% if micropost.user.sex == "男性" %>
    <%= image_tag '/men.png' , class: 'seximg', size:40 %>
  <% else %>
    <%= image_tag '/women.png' , class: 'seximg', size:40 %>
  <% end %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <%= render "likes/like", micropost: micropost %>
</li>
